@import "tailwindcss";
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.swiper-slide {
  transition-property: opacity !important;
  transition-timing-function: ease-in-out !important;
  transition-duration: 1s !important; /* You can adjust duration */
}
